@charset "UTF-8";
@font-face {
  font-family: 'hyrax_icons';
  src: url("../fonts/hyrax_icons.eot?szstsd");
  src: url("../fonts/hyrax_icons.eot?szstsd#iefix") format("embedded-opentype"), url("../fonts/hyrax_icons.ttf?szstsd") format("truetype"), url("../fonts/hyrax_icons.woff?szstsd") format("woff"), url("../fonts/hyrax_icons.svg?szstsd#hyrax_icons") format("svg");
  font-weight: normal;
  font-style: normal; }

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'hyrax_icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-cart:before {
  content: ""; }

.icon-chart:before {
  content: ""; }

.icon-edit:before {
  content: ""; }

.icon-grid:before {
  content: ""; }

.icon-list:before {
  content: ""; }

.icon-plus:before {
  content: ""; }

.icon-settings:before {
  content: ""; }

.icon-ticket:before {
  content: ""; }
