@charset "UTF-8";
@font-face {
  font-family: 'hyrax_icons';
  src: url("../fonts/hyrax_icons.eot?szstsd");
  src: url("../fonts/hyrax_icons.eot?szstsd#iefix") format("embedded-opentype"), url("../fonts/hyrax_icons.ttf?szstsd") format("truetype"), url("../fonts/hyrax_icons.woff?szstsd") format("woff"), url("../fonts/hyrax_icons.svg?szstsd#hyrax_icons") format("svg");
  font-weight: normal;
  font-style: normal; }

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'hyrax_icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-filter2:before {
  content: ""; }

.icon-filter:before {
  content: ""; }

.icon-cart:before {
  content: ""; }

.icon-chart:before {
  content: ""; }

.icon-edit:before {
  content: ""; }

.icon-grid:before {
  content: ""; }

.icon-list:before {
  content: ""; }

.icon-plus:before {
  content: ""; }

.icon-settings:before {
  content: ""; }

.icon-ticket:before {
  content: ""; }

/*----------------------
1. VARIABLES -----------
2. DOCUMENT ------------
3. CONTAINER -----------
4. HEADER --------------
5. MAIN CONTENT --------
6. SECTIONS ------------
----------------------*/
/*

$textInputGray: #3e3e3e;
$buttonGray: #474747;
$lightGray: #8c8c8c;
$textDrop: #6e7479;
$mainRed: #dc4646;
$mainBlue: #2979FF;
$white: white;
*/
* {
  margin: 0;
  font-family: Open Sans, sans-serif !important;
  text-transform: capitalize; }

body {
  background-color: #2d3133; }

.material-icons {
  font-family: 'Material Icons' !important; }

.container {
  background-color: #2d3133;
  width: 100%;
  height: 100%;
  position: absolute; }

.navPanel {
  background-color: #212121;
  width: 80px;
  height: 970px; }

.sideNav {
  background-color: #212121;
  height: 970px;
  width: 81px;
  float: left; }
  .sideNav li {
    line-height: 60px;
    border-bottom: 1px solid #2d3133;
    padding: 8px 0 0 0; }
  .sideNav i {
    font-size: 28px;
    color: #E5E5E5;
    padding: 0px 0px 0px 23px; }
  .sideNav a {
    text-decoration: none; }
  .sideNav li:hover {
    background-color: #2979FF; }

.row.header {
  height: 54px; }

.userSettings {
  width: 260px;
  height: 34px;
  border: 1px solid #E5E5E5;
  float: right;
  text-align: left;
  padding: 1px 0px 0px 4px;
  margin: 20px 18px 0 0;
  border-radius: 4px; }
  .userSettings i {
    font-size: 26px;
    color: #E5E5E5;
    float: left;
    padding: 1px 13px 0px 5px; }
  .userSettings section {
    font-size: 13px;
    padding: 9px 0 0 0;
    color: #E5E5E5;
    font-weight: 200; }

a.userSettings:hover {
  background-color: #2979FF;
  border: none; }

.row.mainNav {
  height: 30px;
  padding: 0; }
  .row.mainNav .col.s12.tabBar {
    width: 40%;
    padding: 0; }

.tabs {
  width: 112%;
  height: 40px;
  background-color: transparent; }
  .tabs .tab {
    background-color: #E5E5E5;
    border-right: 2px solid #2e3133;
    line-height: 42px; }
    .tabs .tab a {
      color: #2d3133;
      font-size: 14px;
      padding: 0 16px; }
    .tabs .tab a:hover {
      color: #2979FF;
      font-weight: 600; }
    .tabs .tab a.active {
      background-color: #252525;
      color: #2979ff;
      font-weight: 600; }

.row.searchFilter {
  height: 140px;
  margin-top: -10px;
  background-color: #252525; }

.col.s3.input-field {
  width: 412px;
  margin: 11px 0 0 0;
  padding: 6px 0px 7px 11px;
  border-right: 1px solid #E5E5E5; }

input[type=search] {
  background-color: #E5E5E5;
  color: #2979FF;
  border-radius: 3px;
  font-size: 12px;
  padding: 0px 0px 0px 10px;
  margin-left: 2.5rem !important;
  border: none;
  height: 27px;
  width: 326px !important; }
  input[type=search]:focus {
    outline: none;
    text-decoration: none; }

.input-field .prefix {
  color: #E5E5E5;
  font-size: 29px;
  line-height: 27px; }

.col.s7.filters {
  height: 100%;
  width: 50%; }
  .col.s7.filters a.filterButton {
    position: absolute;
    border-radius: 3px;
    padding: 7px 0px 0px 6px;
    margin: 15px 0px 0px 10px;
    width: 31px;
    height: 30px;
    background-color: #E5E5E5; }
    .col.s7.filters a.filterButton:hover {
      background-color: #FFB300; }
  .col.s7.filters i.icon-filter2 {
    font-size: 18px;
    color: #252525; }

.tags {
  position: absolute;
  border-radius: 9px;
  padding: 1px 0 0 11px;
  margin: 20px 0 0 65px;
  width: 159px;
  height: 22px;
  background-color: #e5e5e5; }
  .tags:hover {
    background-color: #FFB300;
    color: white; }
  .tags span {
    color: #2d3133;
    font-size: 12px; }
  .tags .material-icons {
    color: #2d3133;
    font-weight: bold;
    position: absolute;
    padding: 2px 0 0 12px;
    font-size: 15px; }
