//   ______     ______     ______     __    __     __     __   __
//  /\  ___\   /\  __ \   /\  ___\   /\ "-./  \   /\ \   /\ "-.\ \
//  \ \ \____  \ \ \/\ \  \ \___  \  \ \ \-./\ \  \ \ \  \ \ \-.  \
//   \ \_____\  \ \_____\  \/\_____\  \ \_\ \ \_\  \ \_\  \ \_\\"\_\
//    \/_____/   \/_____/   \/_____/   \/_/  \/_/   \/_/   \/_/ \/_/
//

@import 'icons.scss';

/*----------------------
1. VARIABLES -----------
2. DOCUMENT ------------
3. CONTAINER -----------
4. HEADER --------------
5. MAIN CONTENT --------
6. SECTIONS ------------
----------------------*/

//======================
// 1. VARIABLES --------
//======================
/*

$textInputGray: #3e3e3e;
$buttonGray: #474747;
$lightGray: #8c8c8c;
$textDrop: #6e7479;
$mainRed: #dc4646;
$mainBlue: #2979FF;
$white: white;
*/
//HYRAX COLORS
$white: white;
$bkg: #2d3133;
$nav: #212121;
$darkText: $bkg;
$lightGray: #E5E5E5;
$mainBlue: #2979FF;
$mainYellow: #FFB300;
$tabBkg: #292b2d;
$activeTabBkg: #252525;

//======================
// 2. DOCUMENT ---------
//======================

* { margin: 0; font-family: Open Sans, sans-serif !important; text-transform: capitalize; }
body { background-color: $bkg; }
.material-icons { font-family: 'Material Icons' !important; }

//======================
// 2. CONTAINER --------
//======================

.container {
   background-color: $bkg;
   width: 100%;
   height: 100%;
   position: absolute;
}

//======================
// 2. HEADER -----------
//======================

.navPanel {
   background-color: $nav;
   width: 80px;
   height: 970px;
}

.sideNav {
   background-color: $nav;
   height: 970px;
   width: 81px;
   float: left;
   li {
      line-height: 60px;
      border-bottom: 1px solid $bkg;
      padding: 8px 0 0 0;
   }
   i {
      font-size: 28px;
      color: $lightGray;
      padding: 0px 0px 0px 23px;
   }
   a {
      text-decoration: none;
   }
   li:hover {
      background-color: $mainBlue;
   }
}

//======================
// 3. MAIN CONTENT -----
//======================

.row.header {
   height: 54px;
}

.userSettings {
   width: 260px;
   height: 34px;
   border: 1px solid $lightGray;
   float: right;
   text-align: left;
   padding: 1px 0px 0px 4px;
   margin: 20px 18px 0 0;
   border-radius: 4px;
   i {
      font-size: 26px;
      color: $lightGray;
      float: left;
      padding: 1px 13px 0px 5px;
   }
   section {
      font-size: 13px;
      padding: 9px 0 0 0;
      color: $lightGray;
      font-weight: 200;
   }
}
a.userSettings:hover {
   background-color: $mainBlue;
   border: none;
}

//======================
// 3. MAIN CONTENT -----
//======================

.row.mainNav {
   height: 30px;
   padding: 0;
   .col.s12.tabBar {
      width: 470px;
      padding: 0;
   }
}

//======================
// 3. TAB BAR ----------
//======================

.tabs {
   width: 112%;
   height: 40px;
   .tab {
      background-color: $lightGray;
      border-right: 2px solid #2e3133;
      line-height: 42px;
      a {
         color: $bkg;
         font-size: 14px;
         padding: 0 16px;
      }
      a:hover {
         color: $mainBlue;
         font-weight: 600;
      }
      a.active {
         background-color: $activeTabBkg;
         color: #2979ff;
         font-weight: 600;
      }
   }
}

//======================
// 3. SEARCH -----------
//======================

.row.searchFilter {
   height: 60px;
   margin-top: -10px;
   background-color: $activeTabBkg;
}

.col.s3.input-field {
   width: 21%;
}

input[type=search] {
   background-color: $lightGray;
   color: $mainBlue;
   border-radius: 3px;
   font-size: 12px;
   padding: 0px 0px 0px 10px;
   margin-left: 2.5rem !important;
   border: none;
   height: 27px;
   width: 326px !important;
   &:focus {
      outline: none;
      text-decoration: none;
   }
}

.input-field {
   .prefix {
      color: $lightGray;
      font-size: 29px;
      line-height: 27px;
   }
}

//======================
// 3. FILTER -----------
//======================

.col.s7.filters {
   height: 100%;
   width: 74%;
}

.tags {
   position: absolute;
   border-radius: 9px;
   padding: 1px 0 0 11px;
   margin: 18px 0 0 0;
   width: 159px;
   height: 22px;
   background-color: #e5e5e5;
   span {
      line-height: 17px;
      font-size: 12px;
   }
   .material-icons {
      position: absolute;
      padding: 1px 0 0 10px;
      font-size: 17px;
   }
}
