//   ______     ______     ______     __    __     __     __   __
//  /\  ___\   /\  __ \   /\  ___\   /\ "-./  \   /\ \   /\ "-.\ \
//  \ \ \____  \ \ \/\ \  \ \___  \  \ \ \-./\ \  \ \ \  \ \ \-.  \
//   \ \_____\  \ \_____\  \/\_____\  \ \_\ \ \_\  \ \_\  \ \_\\"\_\
//    \/_____/   \/_____/   \/_____/   \/_/  \/_/   \/_/   \/_/ \/_/
//

@import 'icons.scss';

/*----------------------
0. VARIABLES -----------
1. DOCUMENT ------------
2. CONTAINER -----------
3. SIDE NAV ------------
4. HEADER --------------
5. MAIN CONTENT --------
6. TAB BAR -------------
7. SEARCH BAR ----------
8. FILTERS -------------
----------------------*/

//======================
// 0. VARIABLES --------
//======================

//HYRAX COLORS
$white: white;
$bkg: #2d3133;
$nav: #212121;
$darkText: $bkg;
$lightGray: #E5E5E5;
$mainBlue: #448AFF;
$mainYellow: #FFB300;
$mainRed: #dc4646;
$tabBkg: #292b2d;
$activeTabBkg: #252525;

//======================
// 1. DOCUMENT ---------
//======================

* { margin: 0; font-family: Open Sans, sans-serif !important; text-transform: capitalize; }
body { background-color: $bkg; }
.material-icons { font-family: 'Material Icons' !important; }

//======================
// 2. CONTAINER --------
//======================

.container {
   background-color: $bkg;
   width: 100%;
   height: 100%;
   position: absolute;
}

//======================
// 3. SIDE NAV ---------
//======================

.navPanel {
   background-color: $nav;
   width: 80px;
   height: 970px;
}

.sideNav {
   background-color: $nav;
   height: 970px;
   width: 81px;
   float: left;
   li {
      line-height: 60px;
      border-bottom: 1px solid $bkg;
      padding: 8px 0 0 0;
   }
   i {
      font-size: 28px;
      color: $lightGray;
      padding: 0px 0px 0px 23px;
   }
   a {
      text-decoration: none;
   }
   li:hover {
      background-color: $mainBlue;
   }
}

//======================
// 4. HEADER -----------
//======================

.row.header {
   height: 54px;
}

.notifications {
   margin: 20px 298px 0 0;
   width: 34px;
   height: 34px;
   border: 1px solid white;
   border-radius: 3px;
   position: absolute;
   right: 2px;
   &:hover {
      background-color: $mainBlue;
   }
   i {//notification bell icon
      padding: 3px 0 0 4px;
      color: $lightGray;
   }
   span {//notification number buble
          padding: 4px 0 0 7px;
      margin: -41px 0 0 21px;
      width: 22px;
      font-size: 14px;
      border-radius: 16px;
      height: 22px;
      background-color: #dc4646;
      color: white;
      position: absolute;
   }
}

.userSettings {
   width: 260px;
   height: 34px;
   border: 1px solid $lightGray;
   float: right;
   text-align: left;
   padding: 1px 0px 0px 4px;
   margin: 20px 14px 0 0;
   border-radius: 4px;
   position: absolute;
   right: 2px;
   i {//user icon
      font-size: 26px;
      color: $lightGray;
      float: left;
      padding: 1px 13px 0px 5px;
   }
   section {//username
      font-size: 13px;
      padding: 9px 0 0 0;
      color: $lightGray;
      font-weight: 200;
   }
}
a.userSettings:hover {
   background-color: $mainBlue;
   //border: none;
}

//======================
// 5. MAIN CONTENT -----
//======================

.row.mainNav {
   height: 30px;
   padding: 0;
   .col.s12.tabBar {
      width: 40%;
      padding: 0;
   }
}

//======================
// 6. TAB BAR ----------
//======================

.tabs {
   width: 112%;
   height: 40px;
   background-color: transparent;
   .tab {
      background-color: $lightGray;
      border-right: 2px solid #2e3133;
      line-height: 42px;
      a {
         color: $bkg;
         font-size: 14px;
         padding: 0 16px;
      }
      a:hover {
         color: $mainBlue;
         font-weight: 600;
      }
      a.active {
         background-color: $activeTabBkg;
         color:$mainBlue;
         font-weight: 600;
      }
   }
}

//======================
// 7. SEARCH -----------
//======================

.row.searchFilter {
   //height: 60px;
   height: 140px;
   margin-top: -10px;
   background-color: $activeTabBkg;
}

.col.s3.input-field {
   width: 412px;
   margin: 11px 0 0 0;
   padding: 6px 0px 7px 11px;
   border-right: 1px solid $lightGray;
}

input[type=search] {
   background-color: $lightGray;
   color: $mainBlue;
   border-radius: 3px;
   font-size: 12px;
   padding: 0px 0px 0px 10px;
   margin-left: 2.5rem !important;
   border: none;
   height: 27px;
   width: 326px !important;
   &:focus {
      outline: none;
      text-decoration: none;
   }
}

.input-field {
   .prefix {
      color: $lightGray;
      font-size: 29px;
      line-height: 27px;
   }
}

//======================
// 8. FILTERS ----------
//======================

.col.s7.filters {
   height: 100%;
   width: 65%;
   a.filterButton {
      position: absolute;
      border-radius: 3px;
      padding: 7px 0px 0px 6px;
      margin: 15px 0px 0px 10px;
      width: 31px;
      height: 30px;
      background-color: $lightGray;
      &:hover {
         background-color: $mainYellow;
      }
   }
   i.icon-filter2 {
      font-size: 18px;
      color: $bkg;
   }
}

.filterTags {
   margin: 2px 0px 0px 61px;
   li {
      float: left;
      margin: 17px 49px 0px 0px;
      padding: 6px 0px 0px 12px;
      font-size: 12px;
      background-color: $lightGray;
      border-radius: 10px;
      height: 23px;
      width: 276px;
      a {
         color: black;
         &:hover {
            color: $white;
         }
         .material-icons {
            color: $bkg;
            font-size: 12px;
            font-weight: bold;
            position: absolute;
            padding: 0px 0px 0px 15px;
            &:hover {
               color: $mainRed;
            }
         }
      }
   }
   #tag1 {
      width: 163px;
      background-color: #F9A825;
      span {
         margin: 0px 0px 0px 53px;
         position: absolute;
         font-style: italic;
         color: $lightGray;
         text-transform: lowercase;
      }
   }
   #tag2{
      background-color: #F9A825;
      span {
         margin: 0px 0px 0px 53px;
         position: absolute;
         font-style: italic;
         color: $lightGray;
         text-transform: lowercase;
      }
   }
   #tag3 {
      width: 207px;
      background-color: #F9A825;
   }
}

.closeFilters {
   display: inline-block;
   border-left: 1px solid white;
   padding: 11px 0px 11px 16px;
   margin: 10px 0px 0px -31px;
   span {
      padding: 0 0 0 0;
      font-size: 13px;
      color: $lightGray;
   }
   i {
      margin: -8px 0px 0px 62px;
      position: absolute;
      line-height: 0;
      color: $mainYellow;
      &:hover {
         color: $mainRed;
      }
   }
}
